<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Dans!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Dans!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>
<ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
<ion-searchbar disabled="true" placeholder="Disabled"></ion-searchbar>
<ion-searchbar value="Value"></ion-searchbar>
<ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label> Heifer International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> St Judes</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Save the Children</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> Oxfam International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Doctors without Borders</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> Brac</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> World Vision</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> International Rescue Committee</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>   Catholic Relief Services</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Danish Refugee Council</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>   CARE International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>   Amnesty International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>  ActionAid International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>   Direct Relief</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Action Against Hunger</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Anti-Slavery International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> Plan International</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>   Khalsa Aid</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>  Colts: Fighting the Sigtma</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label> Eagles Autism Foundation</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>87 & Running</ion-label>
      <ion-button>Volunteer</ion-button> <ion-button [disabled]="true">Donate</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
